.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    
    @include size(tablet) {
    max-width: 80%;
    }
}

body {
    background-color: $background;
}

section {
    padding: 56px 0;
}


.products {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 32.66%);
    column-gap: 1%;
    row-gap: 4%;
    width: 100%;

    @include size(tablet) {
    grid-template-columns: repeat(2, 48.5%);
    column-gap: 3%;
    }

    @include size(mobile) {
    display: block;
    }

    .product-item {
    img {
        width: 100%;
        border-radius: 16px;
    }

    @include size(mobile) {
        margin-bottom: 32px;
    }

    .product-button {
        display: block;
        background-color: $green2;
        color: $white;
        text-align: center;
        padding: 8px 0;
        border-radius: 8px;
        margin-top: 8px;
        text-decoration: none;

        &:hover {
        background-color: $green1;
        }
    }
    }
}