$desktop: 1440px;
$tablet: 1024px;
$mobile: 767px;

@mixin size($tamanho) {
@if $tamanho == desktop {
    @media (max-width: #{$desktop}) {
    @content;
    }
} @else if $tamanho == tablet {
    @media (max-width: #{$tablet}) {
    @content;
    }
} @else if $tamanho == mobile {
    @media (max-width: #{$mobile}) {
    @content;
    }
}
}